@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bg-color:#F4F4F4;
    --pri-color:#51B0F6;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

body {
    background-color: var(--bg-color);
}

nav {
    padding: .5rem 0;
}

section {
    padding: 4rem 0;
}

.section-title {
    text-align: center;
}

.tle {
    color:var(--pri-color);
    font-weight: 400;
    letter-spacing: .1rem;
}

.hero {
    color: #fff;
    padding: 5rem 0;
    background-image: url('../images/dk-img-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    background-attachment: fixed;
}

.page-intro {
    padding: 8rem 0;
}

.tag-header {
    font-weight: 400;
    font-size: 3rem;
}

.tag-descr {
    padding: .75rem 0;
    font-weight: lighter;
    font-size: 1.1rem;
}

.btn-book {
    color: #fff;
    background-color: transparent;
    padding: .45rem 2rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    margin: 1rem 0;
    text-align: center;
    text-decoration: none;

}

.btn-book:hover {
    color: inherit;
}

/* TEAM  */
.team {
    padding: 5rem 0;
}

.section-header {
    font-size: 3rem;
    font-weight: 400;
    padding: .5rem 0;
    letter-spacing: .1rem;
}

.section-descr {
    font-weight: 200;
    font-size: 1.2rem;
}

.item {
    padding: 1rem 0;
}

.item-thumbnail {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.item-thumbnail img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.item-data {
    padding: 1rem 0;
    text-align: center;
}
.item-data-name h5{
    font-size: 2rem;
}

.item-data-role h6 {
    color: var(--pri-color);
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.item-data-social i {
    padding: 0 .3rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.item-data-social i:hover {
    color: var(--pri-color);
}

/* SERVICE  */


.services {
    padding: 5rem 0;
}

.service-card {
    margin: 2rem 0;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.service-card-header img{
    width: 100%;
    height: 150px;
}

.service-card-content {
    text-align: center;
    padding: 1.2rem;
}

.serv-head {
    font-size: 2rem;
    padding: .5rem 0;
    text-transform: capitalize;
}

.serv-info {
    font-weight: lighter;
}
/* TESTIMONIAL  */

.section-banner {
    padding: 3rem 0;
    text-align: center;
    background-color: var(--pri-color);
}

.h6 {
    padding: 0 1.5rem;
    font-weight: 300;
    color: #fff;
    font-size: 24px;
    letter-spacing: .2rem;
    text-transform: capitalize;
}

.testimonial-section{
   color: #fff !important;
   padding: 5rem 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-image: url('../images/dk-img-6.jpg');
}

 .testimonial-content{
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    /* background: #fff; */
    color: #fff !important;
    position: relative;
}
.testimonial-content:before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    border-top: 15px solid #718076;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
 .testimonial-content:after{
    content: "";
    position: absolute;
    bottom: -30px;
    right: 0;
    border-top: 15px solid #718076;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.testimonial-content .testimonial-icon{
    width: 50px;
    height: 45px;
    background: var(--pri-color);
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}
.testimonial-content .testimonial-icon:before{
    content: "";
    border-bottom: 16px solid var(--pri-color);
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}
 .description{
    font-size: 15px;
    font-style: italic;
    color: #fff;
    line-height: 23px;
    margin: 0;
}
 .title{
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
 .post{
    display: block;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: var(--pri-color);
}


/* CONTACT  */

.loc-details {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 1.5rem;
}

.icon i {
    font-size: 2.5rem;
    color: var(--pri-color);
}

.icon-details {
    line-height: .75rem;
    padding: .75rem 0;
}

.p1 .p2 {
    font-weight: lighter;
}

.loc-form {
    padding: 1.3rem 0;
}

.input-data input {
    width: 80%;
    padding: .3rem .75rem;
    background: none;
    border: 1px solid var(--pri-color);
    margin: .75rem 0;
    outline: none;
}

.input-data textarea {
    width: 80%;
    padding: 0 .3rem;
    background: none;
    border: 1px solid var(--pri-color);
    outline: none;
    height: 5rem;
}

.btn-submit {
    padding: .5rem 3rem;
    color: #fff;
    background-color: var(--pri-color);
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: .1rem;
    margin: 1.5rem 0 0 0;
}

 iframe {
    width: 100%;
    height: 300px;
}

.get-in-touch {
    font-size: 2rem;
    text-transform: capitalize;
    padding: .5rem 0;
}

footer {
    align-items: center;
    padding: 2rem 0;
    background-color: #384F63;
}

.footer {
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cright p{
    text-transform: capitalize;
    font-size: 1.2rem;
}

.social i {
    padding: 0 .5rem;
    font-size: 1.2rem;
    cursor: pointer;
}