{% extends 'base.html' %} {% load static %}

<!-- main  -->
{% block content %} 
{% include '_navbar.html' %}

<section class="hero">
   <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-intro">
                    <div class="tag">
                        <h2 class="tag-header">Quality Medication <br>Care for All Ages.</h2>
                        <p class="tag-descr">Provision of world class medical care <br>with compassionate support.</p>
                        <a class="btn-book" href="/">Book an Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6"><div class="page_offets"></div></div>
        </div>
    </div>
</section>

{% endblock content %}