{% extends 'base.html' %} {% load static %}

<!-- main  -->
{% block content %} 
{% include '_navbar.html' %}

<section class="hero">
   <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-intro" data-aos="fade-right">
                    <div class="tag">
                        <h2 class="tag-header">Quality Medication <br>Care for All Ages.</h2>
                        <p class="tag-descr">Provision of world class medical care <br>with compassionate support.</p>
                        <a class="btn-book" href="/">Book an Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6"><div class="page_offets"></div></div>
        </div>
    </div>
</section>

<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="section-header">Our Team</h3>
                <p class="section-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dignissimos!</p>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-1.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>John Doe</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">consultant</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-doc-1  -->
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-2.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>Jane Doe</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">physiotherapist</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-doc-2  -->
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-3.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>Stephen Collins</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">consultant</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-doc-3  -->
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-4.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>Mary Smith</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">psychiadrist</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}