{% extends 'base.html' %} {% load static %}

<!-- main  -->
{% block content %} 
{% include '_navbar.html' %}

<section class="hero">
   <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-intro" data-aos="fade-right">
                    <div class="tag">
                        <h2 class="tag-header">Quality Medication <br>Care for All Ages.</h2>
                        <p class="tag-descr">Provision of world class medical care <br>with compassionate support.</p>
                        <a class="btn-book" href="/">Book an Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6"><div class="page_offets"></div></div>
        </div>
    </div>
</section>

<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="section-header">Who We Wotk With</h3>
                <p class="section-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dignissimos!</p>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-1.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>John Doe</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">consultant</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-doc-1  -->
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-2.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>Jane Doe</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">physiotherapist</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-doc-2  -->
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-3.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>Stephen Collins</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">consultant</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end-doc-3  -->
            <div class="col-md-3">
                <div class="item">
                    <div class="item-thumbnail">
                        <img src="{% static 'images/doc-4.jpg' %}" alt="">
                    </div>
                    <div class="item-data">
                        <div class="item-data-name"><h5>Mary Smith</h5></div>
                        <div class="item-data-role"><h6 class="it-rl">psychiadrist</h6></div>
                        <div class="item-data-social">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team  -->

<div class="section-banner">
    <div class="h6">provision of world class medical care with compassionate support for all ages</div>
</div>
<!-- end banner  -->
<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="section-header">What we Do</h3>
                <p class="section-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dignissimos!</p>
            </div>
            <div class="col-md-3">
                <div class="service-card">
                    <div class="service-card-header">
                        <img src="{% static 'images/img.jpg' %}" alt="">
                    </div>
                    <div class="service-card-content">
                        <h3 class="serv-head">primary care</h3>
                        <div class="serv-info">Ladipisicing elit. Inventore eligendi ipsum repellat blanditiis quas iste repellendus dolorum quisquam facilis veritatis. Facere accusantium reiciendis omnis iste praesentium quo reprehenderit nihil vero.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-card">
                    <div class="service-card-header">
                        <img src="{% static 'images/img-3.jpg' %}" alt="">
                    </div>
                    <div class="service-card-content">
                        <h3 class="serv-head">PediCare</h3>
                        <div class="serv-info">Ladipisicing elit. Inventore eligendi ipsum repellat blanditiis quas iste repellendus dolorum quisquam facilis veritatis. Facere accusantium reiciendis omnis iste praesentium quo reprehenderit nihil vero.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-card">
                    <div class="service-card-header">
                        <img src="{% static 'images/img-2.jpg' %}" alt="">
                    </div>
                    <div class="service-card-content">
                        <h3 class="serv-head">PrEp Therapy</h3>
                        <div class="serv-info">Ladipisicing elit. Inventore eligendi ipsum repellat blanditiis quas iste repellendus dolorum quisquam facilis veritatis. Facere accusantium reiciendis omnis iste praesentium quo reprehenderit nihil vero.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service-card">
                    <div class="service-card-header">
                        <img src="{% static 'images/img-1.jpg' %}" alt="">
                    </div>
                    <div class="service-card-content">
                        <h3 class="serv-head">Family Support</h3>
                        <div class="serv-info">Ladipisicing elit. Inventore eligendi ipsum repellat blanditiis quas iste repellendus dolorum quisquam facilis veritatis. Facere accusantium reiciendis omnis iste praesentium quo reprehenderit nihil vero.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end services  -->

<section class="testimonial-section" id="testimonial">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="section-header">What Client's Say</h3>
                <p class="section-descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dignissimos!</p>
            </div>
            <!-- <div class="col-md-"> -->
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                        </div>
                        <h3 class="title">John</h3>
                        <span class="post">Software Engineer</span>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                        </div>
                        <h3 class="title">Kelle</h3>
                        <span class="post">Web Designer</span>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                        </div>
                        <h3 class="title">Steven</h3>
                        <span class="post">Ceo D-Light</span>
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                        </div>
                        <h3 class="title">Peter</h3>
                        <span class="post">Content Creator</span>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>
<!-- end testimonial  -->

{% endblock content %}