{% load static %}

<nav id="navbar_top" class="navbar navbar-expand-lg bg-light">
    <div class="container">
       <a class="navbar-brand" href="{% url 'index' %}">Docta <span class="tle">_Who</span></a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item"><a class="nav-link" href="/">Home </a></li> -->
          <li class="nav-item"><a class="nav-link" href="#about">Our Team</a></li>
          <li class="nav-item"><a class="nav-link" href="#service">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Testimonial</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Manage</a></li>
        </ul>
        <span class="appointment" id="appointments"><i class="fa-solid fa-bell"></i></span>        
     </div> 
    </div> 
   </nav>